@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap");
.container-fullscreen {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", "Roboto", "Yellowtail", sans-serif;
}

ul {
  list-style: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.swiper {
  max-width: 1108px;
  height: 100%;
  margin: 0;
}
.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  width: 100% !important;
}

.swiper-pagination {
  position: static;
  padding-top: 5px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(126, 182, 147);
}

.header {
  margin-bottom: 30px;
}
.header .container {
  padding: 0 15px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 69px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  text-decoration: none;
}
.header__link {
  color: #274C5B;
  font-size: 20px;
}
.header__search {
  display: flex;
  background-color: #FAFAFA;
  border-radius: 36px;
  border: none;
}
.header__search-inp {
  border: none;
  background-color: #FAFAFA;
  border-radius: 36px;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
}
.header__search-btn {
  border: none;
  padding: 19px;
  background-color: #7EB693;
  border-radius: 90px;
}
.header__catalog {
  display: flex;
  align-items: center;
  border: 1px solid green;
  border-radius: 33px;
}
.header__catalog img {
  margin: 5px 12px 6px 5px;
  padding: 17px;
}
.header__catalog-btn {
  background-color: #274C5B;
  border-radius: 90px;
  border: none;
}
.header__catalog-descr {
  margin: 21px 23px 24px 0;
}
.header__burger {
  width: 35px;
  height: 25px;
  display: none;
}

.header__nav ul {
  padding-left: 0;
}
.header__link__sub {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
  transition: 1s;
}
.header__link__sub:hover .header__link__sub-menu {
  display: block;
  top: 100%;
  left: 60%;
  border-radius: 5px;
}
.header__link__sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 60%;
  background-color: orange;
  width: 170%;
  row-gap: 10px;
}
.header__link__sub-menu a {
  color: #274C5B;
  font-size: 16px;
}

@media (max-width: 1400px) {
  .header__catalog {
    display: none;
  }
}
@media (max-width: 1220px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 800px) {
  .header__search {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
.hero {
  background-image: url(../../src/imgs/herobg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 250px;
  padding-top: 50px;
  padding-left: 100px;
}
.hero__title {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
  margin: 0;
}
.hero__subtitle {
  font-size: 70px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  max-width: 530px;
}
.hero__btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #274C5B;
  border-radius: 16px;
  background-color: #EFD372;
  border: none;
  padding: 28px 39px;
}
.hero__img {
  background-color: #335B6B;
  border-radius: 20px;
  padding: 10px 9px;
}

@media (max-width: 600px) {
  .hero__content {
    max-width: 250px;
  }
  .hero__title {
    font-size: 20px;
  }
  .hero__subtitle {
    font-size: 50px;
    width: 250px;
  }
  .hero__btn {
    padding: 15px 25px;
  }
}
.farmers {
  background-color: #f9f8f8;
  background-repeat: no-repeat;
  background-position: center;
}
.farmers__content {
  display: flex;
}
.farmers__left {
  width: 50%;
}
.farmers__right {
  padding-top: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.farmers__right-up {
  display: flex;
  flex-direction: column;
}
.farmers__right-up h2 {
  margin: 0;
  padding-bottom: 15px;
  color: #7EB693;
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
}
.farmers__right-up h3 {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  max-width: 702px;
  color: #274C5B;
  padding-bottom: 25px;
}
.farmers__right-up p {
  margin: 0;
  max-width: 690px;
  color: #525C60;
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
}
.farmers__right-down {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.farmers__right-down button {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  gap: 10PX;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: 0;
  border-radius: 16px;
  background-color: #274C5B;
  width: 40%;
  padding: 28px 49px;
  cursor: pointer;
  transition: 0.5s;
}
.farmers__right-down button:hover {
  transform: scale(1.2);
}
.farmers__right-down-first {
  display: flex;
  gap: 20px;
}
.farmers__right-down-first img {
  width: 101px;
  height: 101px;
  transition: 0.5s;
  cursor: pointer;
}
.farmers__right-down-first img:hover {
  transform: scale(1.2);
}
.farmers__right-down-first-description {
  display: flex;
  flex-direction: column;
}
.farmers__right-down-first-description h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  max-width: 320px;
  color: #274C5B;
}
.farmers__right-down-first-description p {
  padding-top: 7px;
  margin: 0;
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  max-width: 444px;
  color: #525C60;
}
.farmers__right-down-second {
  display: flex;
  gap: 20px;
}
.farmers__right-down-second img {
  width: 101px;
  height: 101px;
  transition: 0.4s;
}
.farmers__right-down-second img:hover {
  transform: scale(1.1);
}
.farmers__right-down-second img-description {
  display: flex;
  flex-direction: column;
}
.farmers__right-down-second img-description h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 800;
  max-width: 220px;
  line-height: 100%;
  color: #274C5B;
}
.farmers__right-down-second img-description p {
  padding-top: 7px;
  margin: 0;
  font-size: 18px;
  line-height: 165%;
  max-width: 444px;
  color: #525C60;
}
.farmers__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #335B6B;
  border-radius: 60px;
  padding: 6px 10px 10px 8px;
}

@media (max-width: 1630px) {
  .farmers__content {
    gap: 0px;
  }
  .farmers__left {
    width: 50%;
    height: auto;
  }
  .farmers__left img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .farmers__right {
    padding: 50px 10px 50px 0px;
    width: 50%;
    align-items: center;
  }
  .farmers__right-up {
    align-items: center;
  }
  .farmers__right button {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .farmers__content {
    display: flex;
    flex-direction: column;
  }
  .farmers__left {
    width: 96%;
    height: auto;
  }
  .farmers__right {
    padding-bottom: 20px;
    width: 96%;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    gap: 15px;
  }
  .farmers__right-up {
    text-align: center;
    display: flex;
  }
  .farmers__right-up h2,
  .farmers__right-up h3,
  .farmers__right-up p {
    padding: 0px;
  }
  .farmers__right__down {
    display: flex;
  }
  .farmers__right__down button {
    transition: 0s;
  }
  .farmers__right__down button:hover {
    transform: scale(1);
  }
  .farmers__right__down-first {
    width: 40%;
  }
  .farmers__right__down-second {
    width: 40%;
  }
}
@media (max-width: 840px) {
  .farmers__content {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .farmers__right {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .farmers__right-up {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .farmers__right-up h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 40px;
  }
  .farmers__right-down {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.review {
  background: url(../src/imgs/background_review.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1267px;
  display: flex;
  align-items: center;
}
.review__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1110px;
}
.review-decor {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
  margin-top: 0;
  margin-bottom: 8px;
}
.review-title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  text-align: center;
  margin: 0;
}
.review__slide-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.review__slide-first-girl {
  max-width: 115px;
  height: auto;
  border-radius: 50%;
}
.review__slide-first-stars {
  margin-top: 20px;
}
.review__slide-first-description {
  max-width: 780px;
  color: #525C60;
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  margin-top: 25px;
  margin-bottom: 0;
}
.review__slide-first-author {
  font-size: 25px;
  font-weight: 600;
  line-height: 100%;
  color: #274C5B;
  margin-bottom: 0;
  margin-top: 6;
}
.review__slide-first-consumer {
  font-size: 15px;
  font-weight: 400;
  line-height: 165%;
  color: #525C60;
  margin-top: 0;
}
.review__bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 102px;
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 102px;
}
.review__bottom__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 211px;
  height: 211px;
  border-radius: 50%;
  border: 2px solid rgb(126, 182, 147);
  transition: 0.6s;
}
.review__bottom__circle:hover {
  scale: 1.1;
  border: 2px solid rgba(35, 198, 20, 0.584);
}
.review__bottom__circle-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 97%;
  height: 97%;
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  margin-top: 3px;
}
.review__bottom__circle-inner h4 {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  margin: 0;
  padding-top: 25%;
}
.review__bottom__circle-inner h5 {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
  margin: 0;
}

@media (max-width: 880px) {
  .review {
    height: auto;
  }
  .review__slide-first {
    width: 98%;
  }
  .review__bottom {
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 460px) {
  .review-title {
    font-size: 35px;
    margin-top: 0px;
  }
  .review__slide-first-stars {
    width: 90px;
  }
  .review__bottom {
    flex-direction: column;
    width: auto;
  }
}
.get__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 154px;
  margin-bottom: 190px;
  gap: 36px;
}
.get__title {
  text-decoration: none;
  font-size: 40px;
  max-width: 277px;
  color: #FFFFFF;
}
.get__title-right {
  text-decoration: none;
  color: #274C5B;
  font-size: 40px;
  max-width: 277px;
}
.get__left {
  position: relative;
  transition: 0.3s;
}
.get__left:hover {
  transform: scale(1.1);
}
.get__left-text {
  position: absolute;
  left: 10%;
  top: 33%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.get__right {
  position: relative;
  transition: 0.3s;
}
.get__right:hover {
  transform: scale(1.1);
}
.get__right-text {
  position: absolute;
  left: 10%;
  top: 33%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.organic {
  background-color: #274C5B;
  padding: 200px 260px;
}
.organic__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.organic__top {
  width: 100%;
}
.organic__top-offer {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
  max-width: 117px;
}
.organic__top-title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  max-width: 580px;
  margin-top: 8px;
}
.organic__top-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.organic__top-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 28px 39px;
  height: 79px;
  background-color: #EFD372;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.organic__top-btn:hover {
  transform: scale(1.1);
}
.organic__top-arr {
  background-color: #274C5B;
  border-radius: 100px;
  padding: 8px;
  border: 0;
}
.organic__cards {
  display: flex;
  gap: 20px;
  max-width: 1400px;
}
.organic__cards-content {
  background-color: #F9F8F8;
  border-radius: 30px;
  max-width: 335px;
  padding: 30px;
  width: 100%;
  transition: 1s;
}
.organic__cards-content:hover {
  transform: scale(1.05);
}
.organic__cards-img {
  max-width: 100%;
  height: 270px;
  display: block;
  margin: 0 auto;
}
.organic__cards-top {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #274C5B;
  border-radius: 8px;
  padding: 5px 12px;
  max-width: 96px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.organic__cards-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  max-width: 142px;
  margin-bottom: 13px;
}
.organic__cards-bottom {
  display: flex;
  align-items: center;
  border-top: 1px solid #DEDDDD;
  justify-content: space-between;
}
.organic__cards-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}
.organic__cards-price {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #B8B8B8;
  text-decoration: line-through;
  max-width: 48px;
  font-family: "Open Sans", sans-serif;
}
.organic__cards-sale {
  font-size: 17px;
  font-weight: 800;
  line-height: 25px;
  color: #274C5B;
  max-width: 57px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1500px) {
  .organic {
    padding: 100px 160px;
  }
  .organic__top-offer {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
  }
  .organic__top-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
  }
  .organic__top-btn {
    padding: 18px 20px;
    height: 60px;
    font-size: 16px;
  }
  .organic__cards {
    max-width: 1000px;
  }
  .organic__cards-content {
    max-width: 170px;
  }
  .organic__cards-top {
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    max-width: 96px;
  }
  .organic__cards-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 100px;
  }
  .organic__cards-price {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    max-width: 38px;
  }
  .organic__cards-sale {
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    max-width: 47px;
  }
}
@media (max-width: 1050px) {
  .organic {
    padding: 100px 90px;
  }
  .organic__top-btn {
    padding: 15px 18px;
    height: 55px;
    font-size: 14px;
    gap: 5px;
  }
  .organic__top-arr {
    padding: 5px;
  }
  .organic__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .organic__cards-content {
    max-width: 270px;
  }
}
@media (max-width: 670px) {
  .organic {
    padding: 90px 50px;
  }
  .organic__top-offer {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
  .organic__top-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
  }
  .organic__top-btn {
    padding: 12px 15px;
    height: 50px;
    font-size: 13px;
    gap: 4px;
    max-width: 250px;
    margin: 0 auto;
  }
}
.subscribe {
  margin-top: 185px;
  margin-bottom: 105px;
}
.subscribe__content {
  background-image: url("../../src/imgs/subscribebg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.subscribe__title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  max-width: 357px;
}
.subscribe__input {
  border-radius: 16px;
  padding: 20px 70px 20px 20px;
  border: none;
  font-size: 18px;
  font-style: italic;
  color: #525C60;
}
.subscribe__btn {
  border-radius: 16px;
  background-color: #274C5B;
  padding: 18px 30px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.experts {
  padding: 177px 260px;
}
.experts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}
.experts__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experts__team {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
  max-width: 69px;
}
.experts__title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  text-align: center;
  max-width: 454px;
}
.experts__description {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  text-align: center;
  max-width: 852px;
  margin-top: 16px;
}
.experts__cards {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  gap: 27px;
}
.experts__cards-content {
  max-width: 449px;
  background-color: #F9F8F8;
  border-radius: 20px;
  overflow: hidden;
  transition: 1s;
}
.experts__cards-content:hover {
  transform: scale(1.05);
}
.experts__cards-name {
  font-size: 25px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  max-width: 192px;
  margin-top: 35px;
}
.experts__cards-job {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  color: #7EB693;
  max-width: 58px;
  font-family: "Yellowtail";
  margin-top: 2px;
}
.experts__cards-bottom {
  padding: 35px 28px;
}
.experts__cards-bottom-content {
  display: flex;
  justify-content: space-between;
}
.experts__cards-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.experts__cards-logo-img {
  max-width: 22px;
}

@media (max-width: 1500px) {
  .experts__description {
    max-width: 700px;
  }
  .experts__cards {
    max-width: 1000px;
  }
  .experts__cards-photo {
    max-width: 329px;
  }
}
@media (max-width: 1050px) {
  .experts {
    padding: 80px 160px;
  }
  .experts__top {
    max-width: 600px;
  }
  .experts__team {
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
  }
  .experts__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
  }
  .experts__description {
    max-width: 100%;
  }
  .experts__cards {
    max-width: 700px;
  }
  .experts__cards-photo {
    max-width: 229px;
  }
  .experts__cards-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    max-width: 192px;
    margin-top: 10px;
  }
  .experts__cards-job {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    max-width: 58px;
  }
  .experts__cards-bottom-content {
    margin-top: 10px;
  }
  .experts__cards-logo-img {
    max-width: 18px;
  }
}
@media (max-width: 720px) {
  .experts {
    padding: 80px 20px;
  }
  .experts__team {
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
  }
  .experts__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
  }
  .experts__cards {
    flex-direction: column;
    align-items: center;
  }
  .experts__cards-content {
    width: 98%;
  }
  .experts__cards-photo {
    max-width: 100%;
  }
  .experts__cards-name {
    font-size: 26px;
    font-weight: 600;
    line-height: 17px;
    max-width: 192px;
    margin-top: 10px;
  }
  .experts__cards-job {
    font-size: 28px;
    font-weight: 400;
    line-height: 17px;
    max-width: 58px;
  }
  .experts__cards-logo-img {
    max-width: 28px;
  }
}
.about {
  background-image: url(../src/imgs/aboutbackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__content {
  width: 100%;
  padding: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 70px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
}

@media (max-width: 490px) {
  .about h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 100%;
  }
}
.reason {
  background-color: rgb(249, 248, 248);
}
.reason__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 190px;
  padding-bottom: 189px;
}
.reason__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
.reason__top__left {
  width: 48%;
}
.reason__top__left-decor {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
  margin-top: 0;
}
.reason__top__left-title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
}
.reason__top__left-description {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
}
.reason__top__left-box {
  display: flex;
  align-items: center;
  background-color: rgb(236, 236, 236);
  max-width: 339px;
  border: 0;
  border-radius: 49px;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.reason__top__left-box img {
  margin-left: 27px;
}
.reason__top__left-box h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #274C5B;
}
.reason__top__left-paragraph {
  margin-left: 60px;
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  max-width: 444px;
}
.reason__top__right {
  width: 50%;
  padding-top: 13px;
}
.reason__top__right img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.reason__bot {
  width: 98%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 91px;
}
.reason__bot__card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 0;
  border-radius: 30px;
  width: 19%;
  height: 335px;
  transition: 1s;
}
.reason__bot__card:hover {
  scale: 1.1;
  background-color: rgba(14, 224, 2, 0.13);
}
.reason__bot__card__image {
  background-color: rgb(249, 248, 248);
  border: 0;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 95px;
  height: 95px;
}
.reason__bot__card__image img {
  width: 46px;
  height: auto;
}
.reason__bot__card h3 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  margin-top: 15px;
  margin-bottom: 12px;
}
.reason__bot__card p {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  max-width: 184px;
  margin-top: 0px;
  margin-bottom: 19px;
}

@media (max-width: 1242px) {
  .reason__bot {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .reason__bot__card {
    width: 34%;
    min-width: 257px;
  }
}
@media (max-width: 1140px) {
  .reason__content {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .reason__top {
    flex-direction: column;
  }
  .reason__top__left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 98%;
  }
  .reason__top__left-title {
    width: 80%;
  }
  .reason__top__left-description {
    width: 80%;
  }
  .reason__top__left-paragraph {
    margin-left: 0;
  }
  .reason__top__left-box {
    width: 100%;
  }
  .reason__top__left-box h3 {
    font-size: 20px;
  }
}
@media (max-width: 520px) {
  .reason__top__left-title {
    font-size: 35px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
  }
  .reason__top__right {
    width: 85%;
  }
}
.service {
  background: url(../src/imgs/background_service.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.service__content {
  display: flex;
  justify-content: center;
  height: 450px;
}
.service__title {
  font-size: 70px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  padding: 184px 0px;
  margin: 0;
}

.nuts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 202px 0px;
}
.nuts-decor {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
  margin-top: 0;
  margin-bottom: 6px;
}
.nuts-title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  max-width: 482px;
  text-align: center;
  margin-top: 0px;
}
.nuts__base {
  display: flex;
  justify-content: space-between;
  width: 98%;
}
.nuts__base h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 100%;
  color: #274C5B;
  margin: 5px 0px;
  font-family: "Roboto", "Open Sans", sans-serif;
}
.nuts__base p {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  margin-top: 0px;
  margin-bottom: 39px;
}
.nuts__base-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  max-width: 396px;
  padding-top: 108px;
}
.nuts__base-left img {
  width: 53px;
  height: 55px;
}
.nuts__base__middle {
  max-width: 503px;
}
.nuts__base__middle-img {
  width: 100%;
  min-width: 440px;
  height: auto;
}
.nuts__base-right {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  padding-top: 108px;
}
.nuts__base-right img {
  width: 53px;
  height: 55px;
}
.nuts-bottom {
  display: flex;
  align-items: center;
  border: 2px solid rgb(39, 76, 91);
  width: 220px;
  height: 80px;
  border-radius: 16px;
  transition: 0.6s;
}
.nuts-bottom:hover {
  scale: 1.1;
}
.nuts-bottom span {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #274C5B;
  margin-left: 32px;
  margin-right: 10px;
}

@media (max-width: 1020px) {
  .nuts__content {
    padding: 100px 0px;
  }
  .nuts__base {
    flex-direction: column;
    align-items: center;
  }
  .nuts__base-left {
    align-items: center;
    text-align: center;
    max-width: none;
    width: 90%;
    padding-top: 20px;
  }
  .nuts__base__middle-img {
    min-width: 10px;
  }
  .nuts__base-right {
    align-items: center;
    text-align: center;
    max-width: none;
    width: 90%;
    padding-top: 0px;
  }
}
.single {
  background-image: url(/src/imgs/singlebackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.single__content {
  width: 100%;
  padding: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 70px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
}

@media (max-width: 490px) {
  .single h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 100%;
  }
}
.health__content {
  display: flex;
  padding: 83px 40px;
  align-items: center;
  justify-content: center;
}
.health__left {
  width: 50%;
}
.health__left h2 {
  background-color: #274C5B;
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  max-width: 73px;
  padding: 5px 12px;
  text-align: center;
  border-radius: 8px;
}
.health__left img {
  width: 90%;
  height: auto;
}
.health__right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.health__right-up-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  color: #274C5B;
  max-width: 382px;
}
.health__right-up-price {
  gap: 15px;
  display: flex;
  align-items: center;
}
.health__right-up-price h2 {
  font-size: 20px;
  font-weight: 600;
  color: #B8B8B8;
  text-decoration: line-through;
}
.health__right-up-price h3 {
  color: #274C5B;
  font-size: 25px;
  font-weight: 700;
}
.health__right-up p {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  padding-top: 27px;
}
.health__right-down {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.health__right-down h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #274C5B;
}
.health__right-down input {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #274C5B;
  padding: 28px 5px;
  border-color: #274C5B;
  border-radius: 12px;
  text-align: center;
  max-width: 134px;
}
.health__right-down button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: white;
  border: 0;
  border-radius: 16px;
  background-color: #274C5B;
  max-width: 243px;
  padding: 28px 39px;
  gap: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.health__right-down button:hover {
  transform: scale(1.1);
}

@media (max-width: 1030px) {
  .health__left {
    width: 40%;
  }
  .health__right {
    width: 60%;
  }
}
@media (max-width: 870px) {
  .health__content {
    display: flex;
    flex-direction: column;
  }
  .health__left {
    width: 100%;
  }
  .health__right {
    width: 100%;
  }
  .health__right-down input {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    padding: 18px 3px;
  }
  .health__right-down button {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    padding: 18px 20px;
  }
}
@media (max-width: 560px) {
  .health__content {
    padding: 55px 15px;
  }
  .health__right-down {
    display: flex;
    flex-direction: column;
  }
  .health__right-down button {
    width: 98%;
  }
}
.product__content {
  display: flex;
  flex-direction: column;
  margin: 90px 100px;
}
.product__up {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.product__up button {
  font-size: 25px;
  font-weight: 700;
  line-height: 100%;
  color: #274C5B;
  background-color: #EFF6F1;
  max-width: 363px;
  padding: 23px 57px;
  border-style: none;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.product__up button:hover {
  transform: scale(1.1);
  background-color: #274C5B;
  color: white;
}
.product__down p {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 880px) {
  .product__content {
    margin: 50px 50px;
  }
  .product__up button {
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    padding: 16px 37px;
  }
}
@media (max-width: 615px) {
  .product__content {
    margin: 40px 20px;
  }
  .product__up button {
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
  }
  .product__down p {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
  }
}
@media (max-width: 475px) {
  .product__up {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product__up button {
    width: 88%;
  }
}
.related__content {
  display: flex;
  flex-direction: column;
}
.related__title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  text-align: center;
}
.related__products {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}
.related__products-card {
  margin-top: 40px;
  max-width: 335px;
  background-color: #F9F8F8;
  border-radius: 30px;
  transition: 0.5s;
}
.related__products-card:hover {
  transform: scale(1.1);
  background-color: #dbf5d8;
}
.related__products-card-top {
  padding-top: 30px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background-color: #274C5B;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  max-width: 96px;
  text-align: center;
}
.related__products-card-title {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
}
.related__products-card-numbers {
  border-top: 1px solid #525C60;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.related__products-card-numbers h2 {
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #B8B8B8;
  text-decoration: line-through;
}
.related__products-card-numbers h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  color: #274C5B;
}
.related__products-card-numbers img {
  padding-left: 80px;
}

@media (max-width: 1410px) {
  .related__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1080px) {
  .related__products {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 730px) {
  .related__products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .related__products-card {
    width: 96%;
    transition: 0s;
  }
  .related__products-card:hover {
    transform: scale(1);
  }
}
@media (max-width: 400px) {
  .related__title {
    font-size: 40px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
  }
}
.error {
  background: url("../../src/imgs/404.jpeg") no-repeat center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
}
.error__code {
  font-size: 70px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  margin-bottom: 10px;
}
.error__content {
  display: flex;
  justify-content: end;
}
.error__title {
  font-size: 70px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  margin: 0;
}
.error__desc {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  margin-bottom: 30px;
  padding-right: 20px;
}
.error__btn {
  background-color: #274C5B;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 28px 46px;
  border-radius: 16px;
  font-size: 20px;
  max-width: 210px;
}
.error__btn:hover {
  background-color: #182e37;
}
.error__btn-img {
  width: 19px;
  height: 19px;
  padding: 5px;
  display: block;
  background: rgb(51, 91, 107);
  border-radius: 20px;
}

.footer {
  padding: 60px 0 30px;
}
.footer__grid {
  display: flex;
  justify-content: center;
  gap: 92px;
}
.footer__contact {
  text-align: right;
  border-right: 1px solid #d5d5d5;
  padding-right: 52px;
  padding-bottom: 30px;
}
.footer__heading {
  font-size: 25px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  margin-bottom: 32px;
}
.footer__list {
  padding: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  color: #274C5B;
  font-size: 18px;
}
.footer__subtitle {
  margin: 0;
  font-weight: 700;
}
.footer__link {
  color: #274C5B;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__logo {
  display: flex;
  justify-content: center;
}
.footer__desc {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  max-width: 543px;
  text-align: center;
  color: #525C60;
  margin-bottom: 49px;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer__socials-img {
  width: 20px;
  height: 20px;
  background: rgb(239, 246, 241);
  border-radius: 50%;
  padding: 20px;
  transition: 0.3s;
}
.footer__socials-img:hover {
  transform: scale(1.1);
}
.footer__links {
  border-left: 1px solid #d5d5d5;
  padding-left: 52px;
  padding-bottom: 30px;
}
.footer__bottom {
  text-align: center;
  margin-top: 102px;
  font-size: 14px;
  color: #525C60;
  border-top: 1px solid #d5d5d5;
  padding-top: 18px;
}

@media (max-width: 992px) {
  .error {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .error__title {
    font-size: 48px;
  }
  .error__btn {
    font-size: 18px;
    padding: 20px 36px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .error {
    background-position: left;
  }
  .footer {
    padding: 0;
  }
  .footer__grid {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contact, .footer__links {
    border: none;
    padding: 0;
  }
  .footer__list {
    align-items: center;
  }
  .footer__item {
    text-align: center;
  }
  .footer__socials {
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer__socials-img {
    width: 18px;
    height: 18px;
    padding: 16px;
  }
  .footer__desc {
    font-size: 16px;
  }
  .footer__bottom {
    margin-top: 60px;
    padding-top: 20px;
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */