@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap");
.container-fullscreen {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", "Roboto", "Yellowtail", sans-serif;
}

ul {
  list-style: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 69px;
}
.header__logo {
  display: flex;
  align-items: center;
  color: #274C5B;
  gap: 8px;
  font-size: 38px;
  font-family: "Roboto";
  max-width: 198px;
  max-height: 53px;
}
.header__logo-img {
  max-width: 36px;
  max-width: 53px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  text-decoration: none;
  margin-left: 150px;
}
.header__link {
  color: #274C5B;
  font-size: 20px;
}
.header__search {
  display: flex;
  background-color: #FAFAFA;
  border-radius: 36px;
  border: none;
}
.header__search-inp {
  border: none;
  background-color: #FAFAFA;
  border-radius: 36px;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
}
.header__search-btn {
  border: none;
  padding: 19px;
  background-color: #7EB693;
  border-radius: 90px;
}
.header__catalog {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid green;
  border-radius: 33px;
  height: 66px;
  width: 156px;
}
.header__catalog-btn {
  background-color: #274C5B;
  border-radius: 90px;
  padding: 17px;
  border: none;
  margin-left: 6px;
}
.header__burger {
  width: 35px;
  height: 25px;
  display: none;
  margin-right: 50px;
}

@media (max-width: 1400px) {
  .header__catalog {
    display: none;
  }
}
@media (max-width: 1220px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 800px) {
  .header__search {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 550px) {
  .header__logo-item {
    font-size: 30px;
  }
  .header__logo-img {
    max-width: 26px;
    max-width: 43px;
  }
}
.farmers {
  background-color: #f9f8f8;
  background-repeat: no-repeat;
  background-position: center;
}
.farmers__content {
  display: flex;
}
.farmers__left {
  width: 50%;
}
.farmers__right {
  padding-top: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.farmers__right-up {
  display: flex;
  flex-direction: column;
}
.farmers__right-up h2 {
  margin: 0;
  padding-bottom: 15px;
  color: #7EB693;
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
}
.farmers__right-up h3 {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  max-width: 702px;
  color: #274C5B;
  padding-bottom: 25px;
}
.farmers__right-up p {
  margin: 0;
  max-width: 690px;
  color: #525C60;
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
}
.farmers__right-down {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.farmers__right-down button {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  gap: 10PX;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: 0;
  border-radius: 16px;
  background-color: #274C5B;
  width: 40%;
  padding: 28px 49px;
  transition: 0.5s;
}
.farmers__right-down button:hover {
  transform: scale(1.2);
}
.farmers__right-down-first {
  display: flex;
  gap: 20px;
}
.farmers__right-down-first img {
  width: 101px;
  height: 101px;
  transition: 0.5s;
}
.farmers__right-down-first img:hover {
  transform: scale(1.2);
}
.farmers__right-down-first-description {
  display: flex;
  flex-direction: column;
}
.farmers__right-down-first-description h2 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  max-width: 320px;
  color: #274C5B;
}
.farmers__right-down-first-description p {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  max-width: 444px;
  color: #525C60;
}
.farmers__right-down-second {
  display: flex;
  gap: 20px;
}
.farmers__right-down-second img {
  width: 101px;
  height: 101px;
  transition: 0.5s;
}
.farmers__right-down-second img:hover {
  transform: scale(1.2);
}
.farmers__right-down-second img-description {
  display: flex;
  flex-direction: column;
}
.farmers__right-down-second img-description h2 {
  font-size: 25px;
  font-weight: 800;
  max-width: 220px;
  line-height: 100%;
  color: #274C5B;
}
.farmers__right-down-second img-description p {
  font-size: 18px;
  line-height: 165%;
  max-width: 444px;
  color: #525C60;
}
.farmers__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #335B6B;
  border-radius: 60px;
  padding: 6px 10px 10px 8px;
}

@media (max-width: 1630px) {
  .farmers__content {
    gap: 0px;
  }
  .farmers__left {
    width: 50%;
    height: auto;
  }
  .farmers__left img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .farmers__right {
    padding: 50px 10px 50px 0px;
    width: 50%;
    align-items: center;
  }
  .farmers__right-up {
    align-items: center;
  }
  .farmers__right button {
    width: 90%;
    transition: 0s;
  }
  .farmers__right button:hover {
    transform: scale(1);
  }
}
@media (max-width: 1630px) and (max-width: 1000px) {
  .farmers__content {
    display: flex;
    flex-direction: column;
  }
  .farmers__left {
    width: 96%;
    height: auto;
  }
  .farmers__right {
    padding-bottom: 20px;
    width: 96%;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    gap: 15px;
  }
  .farmers__right-up {
    text-align: center;
    display: flex;
  }
  .farmers__right-up h2,
  .farmers__right-up h3,
  .farmers__right-up p {
    padding: 0px;
  }
  .farmers__right__down {
    display: flex;
  }
  .farmers__right__down button {
    transition: 0s;
  }
  .farmers__right__down button:hover {
    transform: scale(1);
  }
  .farmers__right__down-first {
    width: 40%;
  }
  .farmers__right__down-second {
    width: 40%;
  }
}
@media (max-width: 1630px) and (max-width: 840px) {
  .farmers__content {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .farmers__right {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .farmers__right-up {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .farmers__right-up h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 40px;
  }
  .farmers__right-down {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.about {
  background-image: url(/src/imgs/aboutbackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__content {
  width: 100%;
  padding: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 80px;
  font-weight: 800;
  color: #274C5B;
}

.swiper {
  max-width: 1108px;
  height: 100%;
  margin: 0;
}
.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  width: 100% !important;
}

.swiper-pagination {
  position: static;
  padding-top: 5px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(126, 182, 147);
}

.get__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 154px;
  margin-bottom: 190px;
  gap: 36px;
}
.get__title {
  text-decoration: none;
  font-size: 40px;
  max-width: 277px;
  color: #FFFFFF;
}
.get__title-right {
  text-decoration: none;
  color: #274C5B;
  font-size: 40px;
  max-width: 277px;
}
.get__left {
  position: relative;
  transition: 0.3s;
}
.get__left:hover {
  transform: scale(1.1);
}
.get__left-text {
  position: absolute;
  left: 10%;
  top: 33%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.get__right {
  position: relative;
  transition: 0.3s;
}
.get__right:hover {
  transform: scale(1.1);
}
.get__right-text {
  position: absolute;
  left: 10%;
  top: 33%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.review {
  background: url(../src/imgs/background_review.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1267px;
  display: flex;
  align-items: center;
}
.review__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1110px;
}
.review-decor {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
}
.review-title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  text-align: center;
}
.review__slide-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.review__slide-first-girl {
  max-width: 115px;
  height: auto;
  border-radius: 50%;
}
.review__slide-first-stars {
  margin-top: 20px;
}
.review__slide-first-description {
  max-width: 780px;
  color: #525C60;
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
}
.review__slide-first-author {
  font-size: 25px;
  font-weight: 600;
  line-height: 100%;
  color: #274C5B;
  margin-bottom: 0;
  margin-top: 6;
}
.review__slide-first-consumer {
  font-size: 15px;
  font-weight: 400;
  line-height: 165%;
  color: #525C60;
  margin-top: 0;
}
.review__bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 102px;
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 102px;
}
.review__bottom__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 211px;
  height: 211px;
  border-radius: 50%;
  border: 2px solid rgb(126, 182, 147);
}
.review__bottom__circle-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 97%;
  height: 97%;
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  margin-top: 3px;
}
.review__bottom__circle-inner h4 {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  margin: 0;
  padding-top: 25%;
}
.review__bottom__circle-inner h5 {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
  margin: 0;
}

@media (max-width: 880px) {
  .review {
    height: auto;
  }
  .review__slide-first {
    width: 98%;
  }
  .review__bottom {
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 460px) {
  .review-title {
    font-size: 35px;
    margin-top: 0px;
  }
  .review__slide-first-stars {
    width: 90px;
  }
  .review__bottom {
    flex-direction: column;
    width: auto;
  }
}
.reason {
  background-color: rgb(249, 248, 248);
}
.reason__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 190px;
  padding-bottom: 188px;
}
.reason__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
.reason__top__left {
  width: 48%;
}
.reason__top__left-decor {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
  margin-top: 0;
}
.reason__top__left-title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
}
.reason__top__left-description {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
}
.reason__top__left-box {
  display: flex;
  align-items: center;
  background-color: rgb(236, 236, 236);
  max-width: 339px;
  border: 0;
  border-radius: 49px;
  column-gap: 7px;
}
.reason__top__left-box img {
  margin-left: 27px;
}
.reason__top__left-box h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #274C5B;
}
.reason__top__left-paragraph {
  margin-left: 60px;
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  max-width: 444px;
}
.reason__top__right {
  width: 50%;
}
.reason__top__right img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.reason__bot {
  width: 98%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 91px;
}
.reason__bot__card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 0;
  border-radius: 30px;
  width: 19%;
  height: 335px;
  transition: 1s;
}
.reason__bot__card:hover {
  scale: 1.1;
  background-color: rgba(14, 224, 2, 0.13);
}
.reason__bot__card__image {
  background-color: rgb(249, 248, 248);
  border: 0;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 95px;
  height: 95px;
}
.reason__bot__card__image img {
  width: 46px;
  height: auto;
}
.reason__bot__card h3 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  margin-top: 15px;
  margin-bottom: 12px;
}
.reason__bot__card p {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #525C60;
  max-width: 184px;
  margin-top: 0px;
  margin-bottom: 19px;
}

@media (max-width: 1242px) {
  .reason__bot {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .reason__bot__card {
    width: 34%;
    min-width: 257px;
  }
}
@media (max-width: 1140px) {
  .reason__content {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .reason__top {
    flex-direction: column;
  }
  .reason__top__left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 98%;
  }
  .reason__top__left-title {
    width: 80%;
  }
  .reason__top__left-description {
    width: 80%;
  }
  .reason__top__left-paragraph {
    margin-left: 0;
  }
  .reason__top__left-box {
    width: 100%;
  }
  .reason__top__left-box h3 {
    font-size: 20px;
  }
}
@media (max-width: 520px) {
  .reason__top__left-title {
    font-size: 35px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
  }
  .reason__top__right {
    width: 85%;
  }
}/*# sourceMappingURL=index.css.map */