@import url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap);
.container-fullscreen {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", "Roboto", "Yellowtail", sans-serif;
}

ul {
  list-style: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.swiper {
  max-width: 1108px;
  height: 100%;
  margin: 0;
}
.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  width: 100% !important;
}

.swiper-pagination {
  position: static;
  padding-top: 5px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(126, 182, 147);
}

.review {
  background: url(../imgs/background_review.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1267px;
  display: flex;
  align-items: center;
}
.review__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1110px;
}
.review-decor {
  font-size: 36px;
  font-family: "Yellowtail", sans-serif;
  color: #7EB693;
}
.review-title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  text-align: center;
}
.review__slide-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.review__slide-first-girl {
  max-width: 115px;
  height: auto;
  border-radius: 50%;
}
.review__slide-first-stars {
  margin-top: 20px;
}
.review__slide-first-description {
  max-width: 780px;
  color: #525C60;
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
}
.review__slide-first-author {
  font-size: 25px;
  font-weight: 600;
  line-height: 100%;
  color: #274C5B;
  margin-bottom: 0;
  margin-top: 6;
}
.review__slide-first-consumer {
  font-size: 15px;
  font-weight: 400;
  line-height: 165%;
  color: #525C60;
  margin-top: 0;
}
.review__bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 102px;
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 102px;
}
.review__bottom__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 211px;
  height: 211px;
  border-radius: 50%;
  border: 2px solid rgb(126, 182, 147);
}
.review__bottom__circle-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 97%;
  height: 97%;
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  margin-top: 3px;
}
.review__bottom__circle-inner h4 {
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  margin: 0;
  padding-top: 25%;
}
.review__bottom__circle-inner h5 {
  font-size: 18px;
  line-height: 165%;
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
  margin: 0;
}

@media (max-width: 880px) {
  .review {
    height: auto;
  }
  .review__slide-first {
    width: 98%;
  }
  .review__bottom {
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 460px) {
  .review-title {
    font-size: 35px;
    margin-top: 0px;
  }
  .review__slide-first-stars {
    width: 90px;
  }
  .review__bottom {
    flex-direction: column;
    width: auto;
  }
}
.get__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 154px;
  margin-bottom: 190px;
  gap: 36px;
}
.get__title {
  text-decoration: none;
  font-size: 40px;
  max-width: 277px;
  color: #FFFFFF;
}
.get__title-right {
  text-decoration: none;
  color: #274C5B;
  font-size: 40px;
  max-width: 277px;
}
.get__left {
  position: relative;
  transition: 0.3s;
}
.get__left:hover {
  transform: scale(1.1);
}
.get__left-text {
  position: absolute;
  left: 10%;
  top: 33%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.get__right {
  position: relative;
  transition: 0.3s;
}
.get__right:hover {
  transform: scale(1.1);
}
.get__right-text {
  position: absolute;
  left: 10%;
  top: 33%;
  display: flex;
  flex-direction: column;
  align-items: start;
}/*# sourceMappingURL=index.css.map */