@use './vars/vars.scss' as *;
@use './mixins/mixins.scss' as *;
@use './com/zero' ;
@use './com/header';
@use './com/farmers';
@use './com/about';
@use './com/swiper';
@use './com/get';
@use './com/review';
@use './com/reason';
