@use './mixins/mixins';
@use './vars/vars' ;
@use './com/zero' ;
@use './com/swiper';
@use './com/header';
@use './com/hero';
@use './com/farmers';
@use './com/review';
@use './com/get';
@use './com/organic';
@use'./com/standard';
@use'./com/store';
@use './com/subscribe';
@use './com/experts';
@use './com/about';
@use './com/reason';
@use './com/service';
@use './com/nuts';
@use './com/single' ;
@use './com/health' ;
@use './com/product';
@use './com/related';