@mixin font ($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin display_h1 () {
    font-size: 70px;
    font-weight: 800;
    font-family: "Roboto",sans-serif;
}

@mixin heading_h2() {
    font-size: 50px;
    font-weight: 800;
    font-family: "Roboto",sans-serif;
}

@mixin heading_h3() {
    font-size: 40px;
    font-weight: 800;
    font-family: "Roboto",sans-serif;
}

@mixin heading_h4() {
    font-size: 35px;
    font-weight: 800;
    font-family: "Roboto",sans-serif;
}

@mixin heading_h5() {
    font-size: 30px;
    font-weight: 800;
    font-family: "Roboto",sans-serif;
}

@mixin heading_h6() {
    font-size: 25px;
    font-weight: 800;
    font-family: "Roboto",sans-serif;
}

@mixin heading_h7 () {
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

@mixin paragraph(){
    font-size: 18px;
    line-height: 165%;
    font-family: "Open Sans",sans-serif;
}

@mixin cursive(){
    font-size: 36px;
    font-family: "Yellowtail",sans-serif;
}