@use '../vars/vars' as *;

.about {
    background-image: url(/src/imgs/aboutbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        width: 100%;
        padding: 150px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        
        font-size: 80px;
        font-weight: 800;
        color: $title;
        
    }
}