@use '../mixins/mixins' as *;
@use '../vars/vars' as *;


.creative {
    margin: 68px 100px 68px 0;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 39px;
    }

    &__img {
        max-width: 750px;
    }

    &__right {
        display: flex;
        flex-direction: column;


        &-about {
            margin: 0;
            padding-bottom: 15px;
            color: $cursive;
            @include cursive;
        }

        &-title {
            margin: 0;
            @include heading_h2;
            max-width: 674px;
            color: $title;
        }

        &-description {
            margin: 0;
            max-width: 671px;
            color: #525C60;
            @include paragraph;
            margin-top: 25px;
        }

        &-botton {
            display: flex;
            gap: 55px;
            margin-top: 48px;

            &-content {
                display: flex;
                gap: 15px;
                align-items: center;
            }

            &-img {
                max-width: 46px;
                height: 46px;
            }

            &-text {
                @include font(25px, 500, 100%);
                font-family: 'Roboto';
                max-width: 226px;
                color: #274C5B;
            }
        }
    }

    &__btn {
        gap: 10px;
        font-size: 20px;
        font-weight: 700;
        color: white;
        border: 0;
        border-radius: 16px;
        background-color: #274C5B;
        padding: 28px 39px;
        cursor: pointer;
        transition: 0.5s;
        margin-top: 58px;
        max-width: 266px;
        display: flex;
        align-items: center;

        &:hover {
            transform: scale(1.2);
        }

        &-arrow {
            padding: 6px;
            border-radius: 50%;
            background-color: #335B6B;
        }
    }
}

@media(max-width:1120px) {
    .creative {
        margin: 68px 70px 68px 0;

        &__content {
            gap: 19px;
        }

        &__img {
            max-width: 550px;
        }

        &__right {

            &-title {
                @include heading_h3;
            }

            &-description {
                margin-top: 16px;
            }

            &-botton {
                gap: 10px;
                flex-direction: column;
                margin-top: 15px;

                &-content {
                    gap: 10px;
                }

                &-img {
                    max-width: 40px;
                    height: 40px;
                }

                &-text {
                    @include font(20px, 500, 100%);
                    max-width: 200px;
                    color: #274C5B;
                }
            }
        }

        &__btn {
            margin-top: 38px;
            padding: 24px;
            font-size: 18px;
        }
    }
}

@media(max-width:900px) {
    .creative {
        margin: 68px;

        &__content {
            gap: 19px;
            flex-direction: column;
            align-items: center;
        }

        &__right {
            align-items: center;

            &-about {
                text-align: center;
            }

            &-title {
                text-align: center;
            }

            &-description {
                text-align: center;
            }

            &-botton {
                gap: 80px;
                flex-direction: row;
                justify-content: center;
                margin-top: 35px;
            }
        }

    }
}

@media(max-width:600px) {
    .creative {
        margin: 10px 20px 48px 20px;

        &__content {
            gap: 19px;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            max-width: 380px;
        }

        &__right {
            &-title {
                @include heading_h4;
                max-width: 374px;
            }

            &-botton {
                gap: 20px;
                max-width: 350px;
                flex-direction: column;
            }
        }

        &__btn {
            margin-top: 38px;
        }
    }
}