.header {
    .container{
        padding: 0 15px;
    }
    margin-bottom: 30px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 69px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;
        text-decoration: none;


    }

    &__link {
        color: #274C5B;
        font-size: 20px;
    }

    &__search {
        display: flex;
        background-color: #FAFAFA;
        border-radius: 36px;
        border: none;



        &-inp {
            border: none;
            background-color: #FAFAFA;
            border-radius: 36px;
            outline: none;
            font-size: 15px;

            padding-left: 10px;
        }

        &-btn {
            border: none;
            padding: 19px;
            background-color: #7EB693;
            border-radius: 90px;
        }


    }

    &__catalog {
        display: flex;
        align-items: center;

        border: 1px solid green;
        border-radius: 33px;

        img {
            margin: 5px 12px 6px 5px;
            padding: 17px;
        }

        &-btn {
            background-color: #274C5B;
            border-radius: 90px;
            border: none;
        }
        &-descr{
            margin: 21px 23px 24px 0;
        }
    }

    &__burger {
        width: 35px;
        height: 25px;
        display: none;
    }
}

// БРО прости что залез сюда , мне нужны страницы для того чтоб сделать домаху 
// а для этого нужен хэдер чтоб было откуда брать ссылки)
.header {
    &__nav {

        ul {
            padding-left: 0;
        }
    }

    &__link {
        &__sub {
            display: flex;
            column-gap: 10px;
            position: relative;
            transition: 1s;

            &:hover .header__link__sub-menu {
                display: block;
                top: 100%;
                left: 60%;
                border-radius: 5px;

            }

            &-menu {
                display: none;
                position: absolute;
                top: 100%;
                left: 60%;
                background-color: orange;
                width: 170%;
                row-gap: 10px;

                a {
                    color: #274C5B;
                    font-size: 16px;
                }
            }
        }
    }
}


@media(max-width:1400px) {
    .header__catalog {
        display: none;
    }
}

@media(max-width:1220px) {
    .header__nav {
        display: none;
    }
}

@media(max-width:800px) {
    .header__search {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header__burger {
        display: block;
    }
}

