@use '../mixins/mixins' as *;
@use'../vars/vars' as *;


.hero {
    background-image: url(../../src/imgs/herobg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 250px;
    padding-top: 50px;
    padding-left: 100px;

    &__title {
        @include cursive();
        color: $cursive;
        margin: 0;
    }

    &__subtitle {
        @include display_h1 ();
        color: $title;
        max-width: 530px;
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: 700;
        color: $title;
        border-radius: 16px;
        background-color: #EFD372;
        border: none;
        padding: 28px 39px;
    }

    &__img {
        background-color: #335B6B;
        border-radius: 20px;
        padding: 10px 9px;

    }


}

@media(max-width:600px) {
    .hero {

        &__content {
            max-width: 250px;
        }

        &__title{
            font-size: 20px;
        }

        &__subtitle{
            font-size: 50px;
            width: 250px;
        }

        &__btn{
            padding: 15px 25px;
        }

    }
}