@use'../mixins/mixins' as *;
@use'../vars/vars' as *;

.offer {
    background-color: #274C5B;
    padding: 100px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__title {
        @include cursive();
        color: $cursive;
    }

    &__subtitle {
        @include heading_h2();
        color: white;
        padding-bottom: 33px;
        margin: 0;

    }

    &__cards {
        display: flex;
        align-items: center;
        gap: 21px;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        &-title {
            font-size: 25px;
            font-weight: 500;
            color: white;
            font-family: Roboto, sans-serif;
            padding-top: 24px;
        }
    }

    &__img {
        max-width: 100%;
        width: 362px;
        border-radius: 20px;
    }
}

@media(max-width:820px) {
    .offer {
        &__subtitle {
            font-size: 30px;
        }

        &__items {
            &-title {
                font-size: 15px;
            }
        }

        &__img {
            width: 562px;
        }

    }
}


@media(max-width:430px) {
    .offer {
        padding: 20px;


        &__cards {
            flex-direction: column;
        }


        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: 15px;
        }

        &__img {
            width: 362px;
        }

        &__items{
            &-title{
                font-size: 20px;
            }
        }
    }
}