@use '../vars/vars.scss' as *;

.single {
    background-image: url(/src/imgs/singlebackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        width: 100%;
        padding: 150px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 80px;
        font-weight: 800;
        color: $title;
    }
}