@use '../mixins/mixins' as *;
@use '../vars/vars' as *;

.standard {
    background-image: url(../../src/imgs/standardbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        display: flex;
        justify-content: center;
        max-width: 100%
    }

    &__title {
        @include display_h1;
        color: $title;
        padding: 184px 0px;
        margin: 0;
    }
}

@media(max-width:660px) {
    .standard {
        &__title {
            font-size: 50px;
            text-align: center;
        }

    }

}

@media(max-width:570px){
    .standard{
        &__title{
            font-size: 40px;
        }
    }
}