@use'../mixins/mixins' as *;
@use'../vars/vars' as *;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

.subscribe {
    margin-top: 185px;
    margin-bottom: 105px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        background-image: url(../../imgs/subscribebg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 105px 71px;
        gap: 100px;

    }

    &__title {
        @include heading_h2();
        color: #FFFFFF;
        max-width: 457px;
    }

    &__input {
        border-radius: 16px;
        padding: 20px 70px 20px 20px;
        border: none;
        font-size: 18px;
        font-style: italic;
        color: $description;
    }

    &__btn {
        border-radius: 16px;
        background-color: $title;
        padding: 18px 30px;
        border: none;
        color: white;
        font-size: 20px;
        font-weight: 700;
    }
}

@media(max-width:1030px) {
    .subscribe {
        &__title {
            font-size: 35px;
            max-width: 357px;
        }

        &__input {
            padding: 25px 55px 25px 25px;
            font-size: 15px;
        }

        &__btn {
            padding: 25px 30px;
            font-size: 15px;

        }
    }
}

@media(max-width:820px) {
    .subscribe {

        &__title {
            max-width: 257px;
            font-size: 25px;
        }

        &__input {
            padding: 15px 15px 15px 15px;
            font-size: 13px;
        }

        &__btn {
            padding: 15px 15px;
            font-size: 13px;

        }
    }
}

@media(max-width:770px) {
    .subscribe {


        &__content {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__title {
            font-size: 30px;
            text-align: center;
            max-width: 257px;
        }

        &__input {
            padding: 10px 20px 10px 10px;
            font-size: 15px;
        }

        &__btn {
            padding: 10px 20px;
            font-size: 15px;

        }
    }
}

@media(max-width:440px) {
    .subscribe {
        &__title {
            max-width: 300px;
            font-size: 25px;
        }

        &__input {
            padding: 10px 15px 10px 10px;
            font-size: 10px;
        }

        &__btn {
            padding: 10px 15px;
            font-size: 10px;

        }
    }
}