@use '../mixins/mixins' as *;
@use'../vars/vars' as *;

.webflow {
    background-color: rgba(244, 243, 243, 0.484);

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 73px;
        padding-bottom: 73px;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 26px 48px;
        background-color: white;
        border-radius: 30px;
    }

    &__text {
        display: flex;
        align-items: center;
        gap: 10px;

        h2 {
            @include heading_h4;
            color: $title;
        }

        p {
            @include paragraph;
            color: $description;
        }
    }

}

@media (max-width:670px) {
    .webflow {
        &__box {
            display: flex;
            flex-direction: column;
            width: 88%;
            padding: 26px 28px;
        }

        &__text {
            display: flex;
            align-items: center;
        }
    }
}
@media (max-width: 405px) {
    .webflow {
        &__text {
            h2 {
                @include heading_h6;
            }
            p{
                @include font (13px,500,165%);
            }
        }
    }
}
@media (max-width:320px) {
    .webflow {
        &__box {
            padding: 40px 5px;
        }
        &__text {
            flex-direction: column;
            text-align: center;
        }
    }
}
@media (max-width:170px) {
    .webflow {
        img {
            width: 88%;
        }
    }
}


